.todo-list {
    color: #2a272b;
    background: #f0f2f3;
    border: 1px outset #777d8a;
    font-family: Didot, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    max-width: 400px;
    border-radius: 1px;
}

li {
    list-style: none
}

li.completed {
    text-decoration: line-through;
}

.todo-list-detail {
    padding: 4px;
    padding-left: 20px;
    display: none;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(50, 55, 73, 0.12);
    box-shadow: 5px 5px 5px 5px rgba(50, 55, 73, 0.25);
    opacity: 0.8;
    background: linear-gradient(rgb(210, 212, 177), rgb(207, 209, 209));
    border-radius: 1px;
}
